*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    width: auto;
    overflow: hidden;
    transition: all 500ms linear;
}

body::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://images.pexels.com/photos/1018484/pexels-photo-1018484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    filter: brightness(0.4);
}


.wrap-body{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 100%;
    width:  100%;
    display: flex;
    align-items: center;
} 

.logo{
    width: 250px;
    height: auto;
    border-radius: 100%;
    margin-bottom: 4vh;
    opacity: 0.8;
    animation: fromTop 2s linear;
    transition: all 200ms linear;
}  
.logo:hover{
    width: 280px;
    height: auto;
    border-radius: 100%;
    margin-bottom: 4vh;
    opacity: 1;
    animation: fromTop 2s linear;
    transition: all 200ms linear;
}  

@keyframes fromTop {
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 0.8;
        transform: translateY(0px);
    }
}

.logo-style{
    width: 300px;
    height: auto;
    border-radius: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.wrap-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

p {
    opacity: 0.7;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(3, 3, 51);
    text-shadow: 0.1em 0.1em 0.2em white;
    filter: blur(1px);
    transition: all 200ms linear;
    animation: show 2s linear;
}

p:hover{
    cursor: pointer;
    opacity: 1;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(3, 3, 51);
    text-shadow: 0.1em 0.1em 0.2em white;
    filter: blur(0px);
    transition: all 200ms linear;
    animation: show 2s linear;
}

@keyframes show {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 0.8;
    }
}

@media (width<1024px){
    body{
        background-image: url("https://i.pinimg.com/564x/28/bb/d1/28bbd14a0347602ad1276f6b7fb6ec2b.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
