*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 20px;
    overflow-x: hidden;
    background-image: url("https://i.pinimg.com/564x/49/f2/88/49f2884169e66f805c1fbb34a25a8ce2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin-bottom: 4vh;
}

.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}
h2{
    font-family: "Permanent Marker", cursive;
    width: 100%;
    text-align: center;
    color: white;
}

h1{
    font-family: "Permanent Marker", cursive;
    color: white;
}

.card-img-top{
    width:100% !important;
    height: 200px !important;
}

.wrap-menu{
    font-family: "Permanent Marker", cursive;
    margin-right: 85%;
}

label{
    font-family: "Permanent Marker", cursive;
    color: white;
}

button{
    font-family: "Permanent Marker", cursive;
    color: white;
}
   
